body {
    background-image: url("img/diceBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 4px #000000;
}

#connect4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#board {
    width: calc(70px * 7);
    height: calc(70px * 6);
    background-color: blue;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.cell {

    background-color: white;
    border-radius: 50%;
    border: 5px navy;
    margin: 5px;
    height: 60px;
    width: 60px;
}

.red-piece {
    background-color: red;
}

.yellow-piece {
    background-color: yellow;
}


.buttonContainer {
    margin-top: 20px;
}

