header, footer {
    display: flex;
    background-color: #D2B48C;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}


h1 {
    font-family: "Quicksand", sans-serif;
    color: #000000;
    text-align: center;
}

body {
    background-image: url("img/tabletop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #e4bb4d; */
    /* animation: animateBackground 10s; */
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* @keyframes animateBackground {
    0% {
        background-color: #ffd891;
    }
    50% {
        background-color: #b97d55;
    }
    100% {
        background-color: #e4bb4d;
    }
} */

img {
    border-radius: 10px;
}

.container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    font-family: "Press Start 2P", cursive;
    text-align: center;
}

.item{
    opacity: 0;
    animation: scroll-up 1s ease forwards;
    text-align: center;
}

@keyframes scroll-up{
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.item:nth-child(1) {
    animation-delay: 0.5s; 
}

.item:nth-child(2) {
    animation-delay: 1s; 
}

.item:nth-child(3) {
    animation-delay: 1.5s; 
}

.item:nth-child(4) {
    animation-delay: 2s;
}



#dice, #tictactoe, #guessinggame, #frogger{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}

div {
    margin-top: 70px;
    margin-bottom: 100px;
    margin-right: 12px;
    margin-left: 12px;
}

@media screen and (max-width: 800px) {
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


