header {
    display: flex;;
    background-color: #c2bbbb8e;
    align-items: center;
    justify-content: center;
}

.container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item, .item2 {
    opacity: 0;
    animation: scroll-up 1s ease forwards;
}

@keyframes scroll-up{
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.item:nth-child(1) {
    animation-delay: 0.5s; 
}

.item:nth-child(2) {
    animation-delay: 1s; 
}

.item:nth-child(3) {
    animation-delay: 1.5s; 
}

.item2:nth-child(1) {
    animation-delay: 2s;
}

.item2:nth-child(2) {
    animation-delay: 2.5s;
}

#dice, #tictactoe, #connect4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}

div {
    margin-top: 70px;
    margin-bottom: 100px;
    margin-right: 12px;
    margin-left: 12px;
}

footer {
    bottom: 0;
    width: 100%;
    background-color: #c2bbbb8e;
    text-align: center;
    padding: 10px;
}

@media screen and (max-width: 800px) {
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
